<div class="row">
<div class="small-8 columns">
<h2>Edit URL, Keyword, Category</h2>
</div>
</div>
<div class="row">
<div class="small-4 columns">
<%= render 'form' %>

<%= link_to 'Back', domainurls_path %>
</div>
</div>