<div class="row">
<div class="small-8 columns">
<h3>Edit URL, Keyword, Country, & Category</h3>
</div>
</div>
<div class="row">
<div class="small-4 columns">
<%= render 'form' %>

<%= link_to 'Back', domainurls_path %>
</div>
</div>