<div class="row">
	
<div class="small-4 small-offset-4 columns">
	<center>
<h4>Edit URL, Keyword, Country, & Category</h4>
</center>
</div>
<div class="row">
<div class="small-4 small-offset-4 columns">
	
<%= render 'form' %>

<%= link_to 'Back', domainurls_path %>

</div>

</div>